{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}{% trans "Султан Маренов - Совет Директоров" %}{% endblock title %}
{% block content %}
  <!-- ======= Breadcrumbs ======= -->
  <div class="breadcrumbs d-flex align-items-center" style="background-image: url('{% static 'img/breadcrumbs-bg.jpg' %}');">
    <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

      <h2>{% trans "Совет Директоров" %}</h2>
      <ol>
        <li><a href="{% url 'about:index' %}">{% trans "Главная страница" %}</a></li>
        <li>{% trans "Совет Директоров" %}</li>
      </ol>

    </div>
  </div><!-- End Breadcrumbs -->

  <!-- ======= Blog Section ======= -->
  <section id="alt-services" class="alt-services">
      <div class="container" data-aos="fade-up">
          <div class="row justify-content-around gy-4">
              <div class="col-lg-6 img-bg" style="background-image: url('{% static 'img/people/person-1.jpg' %}');" data-aos="zoom-in"
              data-aos-delay="100"></div>
              <div class="col-lg-5 d-flex flex-column justify-content-center">
                  <h3>{% trans "Султан Маренов" %}</h3>
                  <h5>{% trans "Основатель и Исполнительный Директор" %}</h5>
                  <h5>sultan.marenov@ksbc.sg</h5>
                  <p>{% trans "Опытный предприниматель и профессиональный банкир с обширным опытом работы в сфере коммерческого банкинга, микрофинансирования, финтех-технологий и управления проектами." %}
                      <br><br>
                      {% trans "В настоящее время Султан базируется в Сингапуре с 2015 года и руководит консалтинговой фирмой по управлению инвестициями и цифровой трансформации - SNRG Capital Pte Ltd. Под руководством SNRG он управляет диверсифицированным портфелем прямых инвестиций в технологические компании по всей Азии. Он также возглавляет советы директоров нескольких финтех-стартапов. " %}
                      <br><br>
                      {% trans "Поддерживая связи со своей родиной, Султан в настоящее время остается неисполнительным директором правления АО 'Казпочта', Казахстан, национальной компании почтовых услуг и логистики." %}
                      <br><br>
                      {% trans "Султан является членом Сингапурского института директоров (SID) и основателем Казахстанско-Сингапурского делового совета Ltd." %}
                      <br><br>
                      {% trans "Базовое образование Султана включает степень бакалавра в области финансов и банковского дела, а также степень бакалавра права. Затем он получил степень магистра делового администрирования (MBA) в Сингапурском университете менеджмента (SMU), а также прошел различные программы обучения лидерству в Уортонской школе Пенсильванского университета (США), Лондонской бизнес-школе (Великобритания) и Саидской бизнес-школе Оксфордского университета (Великобритания)" %}
                    </p>
              </div>
          </div>
      </div>
  </section><!-- End Alt Services Section -->
    {% endblock content %}
