{% extends 'base.html' %}
{% block title %}{% endblock title %}
{% block content %}
{% load static %}
<!-- ======= Hero Section ======= -->
<section id="hero" class="hero">
    <div class="info d-flex align-items-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 text-center">
                    <h2 data-aos="fade-down">Добро пожаловать в <span>KSBC</span></h2>
                    <p data-aos="fade-up">KSBC — молодая организация, но наши члены — очень опытные предприниматели и руководители высшего звена в различных секторах экономики.</p>
                    <a data-aos="fade-up" data-aos-delay="200" href="{% url 'membership:membership-list' %}" class="btn-get-started">Подать заявку на членство</a> <br>
                    <a data-aos="fade-up" data-aos-delay="200" href="{% url 'users:login' %}" class="btn-get-started">Войти</a>
                </div>
            </div>
        </div>
    </div>
    <div id="hero-carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">
      <div class="carousel-item active" style="background-image: url({% static 'img/hero-carousel/hero-carousel-1.jpg' %})">
      </div>

      <div class="carousel-item" style="background-image: url({% static 'img/hero-carousel/hero-carousel-2.jpg' %})"></div>
      <div class="carousel-item" style="background-image: url({% static 'img/hero-carousel/hero-carousel-3.jpg' %})"></div>
      <div class="carousel-item" style="background-image: url({% static 'img/hero-carousel/hero-carousel-4.jpg' %})"></div>
      <div class="carousel-item" style="background-image: url({% static 'img/hero-carousel/hero-carousel-5.jpg' %})"></div>

      <a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
      </a>
    </div>
</section><!-- End Hero Section -->

<!-- ======= About Us Section ======= -->
<section id="constructions" class="constructions">
    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <h2>О KSBC</h2>
        <p data-aos="fade-up">Kazakhstan-Singapore Business Council («KSBC») — некоммерческая организация, цель которой — стать связующим звеном и катализатором двустороннего делового сотрудничества между Сингапуром и Казахстаном, помогая предприятиям и частным лицам расширять свою сеть, получать эксклюзивную информацию о рынке и добиваться успеха в обеих странах.</p>
      </div>

      <!-- ======= Alt Services Section ======= -->
<section id="alt-services" class="alt-services">
    <div class="container" data-aos="fade-up">
        <div class="row justify-content-around gy-4">
            <div class="col-lg-6 img-bg" style="background-image: url({% static 'img/alt-services.jpg' %});" data-aos="zoom-in"
            data-aos-delay="100"></div>
            <div class="col-lg-5 d-flex flex-column justify-content-center">
                <h3>Kazakhstan Singapore Business Council</h3>
                <p>Некоммерческая организация, целью которой является стать связующим звеном и катализатором двустороннего делового сотрудничества между Сингапуром и Казахстаном, помогая предприятиям и частным лицам расширять свою сеть, получать эксклюзивную рыночную информацию и добиваться успеха в обеих странах.
                    <br><br>
                    Признанные и поддерживаемые Посольством Республики Казахстан в Сингапуре и Посольством Республики Сингапур в Казахстане, мы организуем многочисленные сетевые мероприятия, бизнес-форумы, информационные семинары, общественные инициативы и поддерживаем ценные деловые отношения между нашими разнообразными членами - и все это с целью дать возможность каждому не не только открывают и развивают свой бизнес в обеих странах, но и ведут благополучную жизнь.</p>

                <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="100">
                    <i class="bi bi-people flex-shrink-0"></i>
                    <div>
                    <h4><a class="stretched-link">Знакомства</a></h4>
                    <p>Знакомство с культурами Сингапура и Казахстана</p>
                    </div>
                </div><!-- End Icon Box -->

                <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="200">
                    <i class="bi bi-globe flex-shrink-0"></i>
                    <div>
                    <h4><a class="stretched-link">Культурное обогащение</a></h4>
                    <p>Культурные мероприятия, такие как концерты, выставки, туристические туры</p>
                    </div>
                </div><!-- End Icon Box -->

                <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="300">
                    <i class="bi bi-newspaper flex-shrink-0"></i>
                    <div>
                    <h4><a class="stretched-link">Тематические следования</a></h4>
                    <p>Знание об успехе Сингапура: тематические исследования, интервью, статьи, специальные мероприятия и многое другое</p>
                    </div>
                </div><!-- End Icon Box -->

                <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="400">
                    <i class="bi bi-patch-check flex-shrink-0"></i>
                    <div>
                    <h4><a class="stretched-link">Осведомленность</a></h4>
                    <p>Больше информации о будущем Казахстана и текущих политических и экономических событиях</p>
                    </div>
                </div><!-- End Icon Box -->
            </div>
        </div>
    </div>
</section><!-- End Alt Services Section -->

<!-- ======= Testimonials Section ======= -->
<section id="testimonials" class="testimonials section-bg">
    <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>Партнеры</h2>
        </div>
        <section id='clients' class="clients">
            <div class="container" data-aos="zoom-in">
                <div class="row">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                        <a href='https://www.paladigm.capital/'><img src="{% static 'img/partners/partner-8.png' %}" class="img-fluid" alt=""></a>
                    </div>
            
                    <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                        <a href='https://www.cpgcorp.com.sg/'><img src="{% static 'img/partners/partner-3.jpg' %}" class="img-fluid" alt=""></a>
                    </div>
            
                    <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                        <a href='https://internationalcementgroup.com/'><img src="{% static 'img/partners/partner-4.jpg' %}" class="img-fluid" alt=""></a>
                    </div>
            
                    <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                        <a href='https://www.kustogroup.com/'><img src="{% static 'img/partners/partner-5.jpg' %}" class="img-fluid" alt=""></a>
                    </div>
            
                    <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                        <a href='https://amitysingapore.sg/'><img src="{% static 'img/partners/partner-6.jpg' %}" class="img-fluid" alt=""></a>
                    </div>
                    <div class="col-lg-1"></div>
                </div>
            </div>
        </section>
    </div>
</section><!-- End Testimonials Section -->

<!-- ======= Testimonials Section ======= -->
<section id="testimonials" class="testimonials section-bg">
    <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>Стратегические партнеры</h2>
        </div>
        <section id='clients' class="clients">
            <div class="container" data-aos="zoom-in">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-6 d-flex align-items-center justify-content-center">
                        <a href='https://www.gov.kz/memleket/entities/mfa-singapore'><img src="{% static 'img/partners/partner-10.jpg' %}" class="img-fluid" alt=""></a>
                    </div>
            
                    <div class="col-lg-3 col-md-4 col-6 d-flex align-items-center justify-content-center">
                        <a href='https://www.sbf.org.sg/'><img src="{% static 'img/partners/partner-2.jpg' %}" class="img-fluid" alt=""></a>
                    </div>
            
                    <div class="col-lg-3 col-md-4 col-6 d-flex align-items-center justify-content-center">
                        <a href='https://invest.gov.kz/about-us/kazakh-invest/'><img src="{% static 'img/partners/partner-7.jpg' %}" class="img-fluid" alt=""></a>
                    </div>
            
                    <div class="col-lg-3 col-md-4 col-6 d-flex align-items-center justify-content-center">
                        <a href='https://aifc.kz/en'><img src="{% static 'img/partners/partner-9.png' %}" class="img-fluid" alt=""></a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section><!-- End Testimonials Section -->
{% endblock content %}