{% extends 'base.html' %}
{% block title %}{% endblock title %}
{% block content %}
<!-- ======= Hero Section ======= -->
<section id="hero" class="hero">
    <div class="info d-flex align-items-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 text-center">
                    <h2 data-aos="fade-down">Welcome to <span>KSBC</span></h2>
                    <p data-aos="fade-up">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <a data-aos="fade-up" data-aos-delay="200" href="membership.html" class="btn-get-started">Apply for Membership</a> <br>
                    <a data-aos="fade-up" data-aos-delay="200" href="login.html" class="btn-get-started">Login</a>
                </div>
            </div>
        </div>
    </div>
    <div id="hero-carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">
      <div class="carousel-item active" style="background-image: url(assets/img/hero-carousel/hero-carousel-1.jpg)">
      </div>

      <div class="carousel-item" style="background-image: url(assets/img/hero-carousel/hero-carousel-2.jpg)"></div>
      <div class="carousel-item" style="background-image: url(assets/img/hero-carousel/hero-carousel-3.jpg)"></div>
      <div class="carousel-item" style="background-image: url(assets/img/hero-carousel/hero-carousel-4.jpg)"></div>
      <div class="carousel-item" style="background-image: url(assets/img/hero-carousel/hero-carousel-5.jpg)"></div>

      <a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
      </a>
    </div>
</section><!-- End Hero Section -->

<!-- ======= About Us Section ======= -->
<section id="constructions" class="constructions">
    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <h2>About Us</h2>
        <p>Nulla dolorum nulla nesciunt rerum facere sed ut inventore quam porro nihil id ratione ea sunt quis dolorem
          dolore earum</p>
      </div>

    <div class="row gy-4">
        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <div class="card-item">
                <div class="row">
                    <div class="col-xl-5">
                        <div class="card-bg" style="background-image: url(assets/img/about_us.jpeg);"></div>
                    </div>
                    <div class="col-xl-7 d-flex align-items-center">
                        <div class="card-body">
                        <h4 class="card-title">Eligendi omnis sunt veritatis.</h4>
                        <p>Fuga in dolorum et iste et culpa. Commodi possimus nesciunt modi voluptatem placeat deleniti
                            adipisci. Cum delectus doloribus non veritatis. Officia temporibus illo magnam. Dolor eos et.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- End Card Item -->

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
            <div class="card-item">
                <div class="row">
                    <div class="col-xl-5">
                        <div class="card-bg" style="background-image: url(assets/img/about_us.jpeg);"></div>
                    </div>
                    <div class="col-xl-7 d-flex align-items-center">
                        <div class="card-body">
                            <h4 class="card-title">Possimus ut sed velit assumenda</h4>
                            <p>Sunt deserunt maiores voluptatem autem est rerum perferendis rerum blanditiis. Est laboriosam qui
                                iste numquam laboriosam voluptatem architecto. Est laudantium sunt at quas aut hic. Eum
                                dignissimos.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- End Card Item -->

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
            <div class="card-item">
                <div class="row">
                    <div class="col-xl-5">
                        <div class="card-bg" style="background-image: url(assets/img/about_us.jpeg);"></div>
                    </div>
                    <div class="col-xl-7 d-flex align-items-center">
                        <div class="card-body">
                            <h4 class="card-title">Error beatae dolor inventore aut</h4>
                            <p>Dicta porro nobis. Velit cum in. Nesciunt dignissimos enim molestiae facilis numquam quae quaerat
                                ipsam omnis. Neque debitis ipsum at architecto officia laboriosam odit. Ut sunt temporibus nulla
                                culpa.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- End Card Item -->

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="400">
            <div class="card-item">
                <div class="row">
                    <div class="col-xl-5">
                        <div class="card-bg" style="background-image: url(assets/img/about_us.jpeg);"></div>
                    </div>
                    <div class="col-xl-7 d-flex align-items-center">
                        <div class="card-body">
                            <h4 class="card-title">Expedita voluptas ut ut nesciunt</h4>
                            <p>Aut est quidem doloremque voluptatem magnam quis excepturi vero quia. Eum eos doloremque
                                architecto illo at beatae dolore. Fugiat suscipit et sint ratione dolores. Aut aliquid ea dolores
                                libero nobis.</p>
                        </div>
                    </div>
                </div>
            </div><!-- End Card Item -->
        </div>
    </div>
</section>
<!-- ======= End Constructions Section ======= -->

<!-- ======= Testimonials Section ======= -->
<section id="testimonials" class="testimonials section-bg">
    <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>Partners</h2>
          <p>Quam sed id excepturi ccusantium dolorem ut quis dolores nisi llum nostrum enim velit qui ut et autem uia
            reprehenderit sunt deleniti</p>
        </div>
        <section id='clients' class="clients">
            <div class="container" data-aos="zoom-in">
                <div class="row">
                    <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                        <img src="assets/img/partners/partner-1.jpg" class="img-fluid" alt="">
                    </div>
            
                    <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                        <img src="assets/img/partners/partner-2.jpg" class="img-fluid" alt="">
                    </div>
            
                    <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                        <img src="assets/img/partners/partner-3.jpg" class="img-fluid" alt="">
                    </div>
            
                    <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                        <img src="assets/img/partners/partner-4.jpg" class="img-fluid" alt="">
                    </div>
            
                    <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                        <img src="assets/img/partners/partner-5.jpg" class="img-fluid" alt="">
                    </div>
            
                    <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                        <img src="assets/img/partners/partner-6.jpg" class="img-fluid" alt="">
                    </div>
                </div>
            </div>
        </section>
    </div>
</section><!-- End Testimonials Section -->
{% endblock content %}