{% extends 'base.html' %}
{% load static %}
{% block title %}Наша Структура{% endblock title %}
{% block content %}
<div class="breadcrumbs d-flex align-items-center" style="background-image: url({% static 'img/breadcrumbs-bg.jpg' %});">
    <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">
      <h2>Наша структура</h2>
      <ol>
        <li><a href="{% url 'about:index' %}">Главная страница</a></li>
        <li>Наша структура</li>
      </ol>
    </div>
</div><!-- End Breadcrumbs -->

<!-- ======= Features Section ======= -->
<section id="features" class="features section-bg">
    <div class="container" data-aos="fade-up">
        <ul class="nav nav-tabs row  g-2 d-flex">
            <li class="nav-item col-6">
                <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#tab-1">
                <h4>Организационная структура (руководящий уровень)</h4>
                </a>
            </li><!-- End tab nav item -->
            <li class="nav-item col-6">
                <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-2">
                <h4>Организационная структура (торговля)</h4>
                </a><!-- End tab nav item -->
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active show" id="tab-1">
                <div class="row">
                    <div class="col-lg-12 order-2 order-lg-2 text-center" data-aos="fade-up" data-aos-delay="200">
                        <img src="{% static 'img/organisational-chart-2.jpg' %}" alt="" class="img-fluid">
                    </div>
                </div>
            </div><!-- End tab content item -->

            <div class="tab-pane" id="tab-2">
                <div class="row">
                    <div class="col-lg-12 order-2 order-lg-2 text-center">
                        <img src="{% static 'img/organisational-chart-1.jpg' %}" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </div><!-- End tab content item -->
    </div>
</section><!-- End Features Section -->
{% endblock content %}