{% extends 'base.html' %}
{% load static %}
{% block title %}Сброс пароля отправлен{% endblock title %}
{% block content %}
<!-- ======= Breadcrumbs ======= -->
<div class="breadcrumbs d-flex align-items-center" style="background-image: url({% static 'img/breadcrumbs-bg.jpg' %});">
    <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

      <h2>Сброс пароля отправлен</h2>
      <ol>
        <li><a href="{% url 'about:index' %}">Главная страница</a></li>
        <li>Сброс пароля отправлен</li>
      </ol>

    </div>
</div><!-- End Breadcrumbs -->

<!-- ======= Login Section ======= -->
<section class="login-color-bg">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card block-bg-custom text-black" style="border-radius: 1rem;">
                    <div class="login-item card-body p-5 text-center">
                        <div class="mb-md-5 mt-md-4 pb-5">
                            <div class="text-center">
                            <img src="{% static 'img/ksbc_logo.png' %}"
                                style="width: 100%;" alt="logo">
                            </div>
            
                            <p class="text-black-50 mb-5 pt-5">
                                Вы вышли из своей учётной записи. Ждём вас снова!
                            </p>               
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> <!-- End of Login Section -->
{% endblock content %}