{% extends 'base.html' %}
{% block title %}Профиль{% endblock %}
{% block content %}
{% load static %}
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url({% static 'img/breadcrumbs-bg.jpg' %});">
        <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">
            <h2>Профиль</h2>
            <ol>
                <li><a href="{% url 'about:index' %}">Главная страница</a></li>
                <li>Профиль</li>
            </ol>
        </div>
    </div><!-- End Breadcrumbs -->

    <section class="section profile">
        <div class="row">
          <div class="col-xl-4">
  
            <div class="card">
              <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
  
                <!-- <img src="assets/img/profile-img.jpg" alt="Profile" class="rounded-circle"> -->
                <h2>{{user.first_name}} {{user.last_name}}</h2>
              </div>
            </div>
  
          </div>
  
          <div class="col-xl-8">
  
            <div class="card">
              <div class="card-body pt-3">
                <!-- Bordered Tabs -->
                <ul class="nav nav-tabs nav-tabs-bordered">
  
                  <li class="nav-item">
                    <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Общее</button>
                  </li>
  
                  <li class="nav-item">
                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Редактировать профиль</button>
                  </li>
  
                  {% comment %} <li class="nav-item">
                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Change Password</button>
                  </li>
   {% endcomment %}
                </ul>
                <div class="tab-content pt-2">
  
                  <div class="tab-pane fade show active profile-overview" id="profile-overview">
                    <h5 class="card-title">Данные профиля</h5>
                    
                    <div class="row">
                        <div class="col-lg-3 col-md-4 label ">Имя пользователя</div>
                        <div class="col-lg-9 col-md-8">{{user.username}}</div>
                      </div>

                    <div class="row">
                      <div class="col-lg-3 col-md-4 label ">ФИО</div>
                      <div class="col-lg-9 col-md-8">{{user.first_name}} {{user.last_name}}</div>
                    </div>
  
                    <div class="row">
                      <div class="col-lg-3 col-md-4 label">Название кампании</div>
                      <div class="col-lg-9 col-md-8">{{user.company_name}}</div>
                    </div>
  
                    <div class="row">
                      <div class="col-lg-3 col-md-4 label">Занимаемая должность</div>
                      <div class="col-lg-9 col-md-8">{{user.job_position}}</div>
                    </div>
  
                    <div class="row">
                      <div class="col-lg-3 col-md-4 label">Электронная почта</div>
                      <div class="col-lg-9 col-md-8">{{user.email}}</div>
                    </div>
                    
                    <h5 class='card-title'>Детали резиденства</h5>
                    <div class='row'>
                    {% if user_membership %}
                        <div class="col-lg-3 col-md-4 label">Тип резиденства</div> 
                        <div class="col-lg-9 col-md-8">
                            {% if user_subscription %}
                                {% if user_subscription.active %}
                                    {{ user_membership.membership.membership_type }} <small>с {{ user_subscription.get_created_date }}</small>
                                    <p>Следующий платеж: {{ user_subscription.get_next_billing_date }}</p>
                                    <a href='{% url 'membership:cancel' %}'>Отменить резиденство</a>

                                {% else %}
                                    <p>У вас нет активного резиденства. Ознакомьтесь с <a href='{% url 'membership:membership-list' %}'>резиденством здесь.</a></p>
                                {% endif %} 
                            
                            {% else %}
                                    <p>У вас нет активного резиденства. Ознакомьтесь с <a href='{% url 'membership:membership-list' %}'>резиденством здесь.</a></p>
                            {% endif %} 
                        </div>
                    </div>
                    {% endif %}
                </div>
  
                <div class="tab-pane fade profile-edit pt-3" id="profile-edit">
  
                    <!-- Profile Edit Form -->
                    <form method="post">
                        {% csrf_token %}
                    
                        <div class="row mb-3">
                            <label for="{{ form.first_name.id_for_label }}" class="col-md-4 col-lg-3 col-form-label">Имя</label>
                            <div class="col-md-8 col-lg-9">
                                {{ form.first_name }}
                            </div>
                        </div>
                        
                        <div class="row mb-3">
                            <label for="{{ form.last_name.id_for_label }}" class="col-md-4 col-lg-3 col-form-label">Фамилия</label>
                            <div class="col-md-8 col-lg-9">
                                {{ form.last_name }}
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="{{ form.company_name.id_for_label }}" class="col-md-4 col-lg-3 col-form-label">Название компании</label>
                            <div class="col-md-8 col-lg-9">
                                {{ form.company_name }}
                            </div>
                        </div>
                    
                        <div class="row mb-3">
                            <label for="{{ form.job_position.id_for_label }}" class="col-md-4 col-lg-3 col-form-label">Занимаемая должность</label>
                            <div class="col-md-8 col-lg-9">
                                {{ form.job_position }}
                            </div>
                        </div>
                    
                        <div class="text-center">
                        <button type="submit" class="btn btn-primary">Сохранить изменения</button>
                        </div>
                    </form><!-- End Profile Edit Form -->
  
                  </div>
  
                  {% comment %} <div class="tab-pane fade pt-3" id="profile-change-password">
                    <!-- Change Password Form -->
                    <form>
  
                      <div class="row mb-3">
                        <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Current Password</label>
                        <div class="col-md-8 col-lg-9">
                          <input name="password" type="password" class="form-control" id="currentPassword">
                        </div>
                      </div>
  
                      <div class="row mb-3">
                        <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">New Password</label>
                        <div class="col-md-8 col-lg-9">
                          <input name="newpassword" type="password" class="form-control" id="newPassword">
                        </div>
                      </div>
  
                      <div class="row mb-3">
                        <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Re-enter New Password</label>
                        <div class="col-md-8 col-lg-9">
                          <input name="renewpassword" type="password" class="form-control" id="renewPassword">
                        </div>
                      </div>
  
                      <div class="text-center">
                        <button type="submit" class="btn btn-primary">Change Password</button>
                      </div>
                    </form><!-- End Change Password Form -->
  
                  </div>
   {% endcomment %}
                </div><!-- End Bordered Tabs -->
  
              </div>
            </div>
  
          </div>
        </div>
      </section>
{% endblock content %}