{% load static %}
{% load i18n %}
<div class="footer-content position-relative">
    <div class="container">
      <div class="row">

        <div class="col-lg-4 col-md-6">
          <div class="footer-info">
            <h3>KSBC</h3>
            <p>
              600 North Bridge Road<br>
              #10-01 Parkview Square<br>
              Singapore 188778<br><br>
              <strong>Phone:</strong> +65 93874275<br>
              <strong>Email:</strong> contact@ksbc.sg<br>
            </p>
            <div class="social-links d-flex mt-3">
              <a href="https://www.facebook.com/100237562998768" class="d-flex align-items-center justify-content-center"><i class="bi bi-facebook"></i></a>
              <a href="https://www.instagram.com/ksbc.sg" class="d-flex align-items-center justify-content-center"><i class="bi bi-instagram"></i></a>
              <a href="https://www.linkedin.com/company/kazakhstan-singapore-business-council" class="d-flex align-items-center justify-content-center"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div><!-- End footer info column-->

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>{% trans "О KSBC" %}</h4>
          <ul>
            <li><a href="{% url 'about:index' %}">{% trans "Главная Страница" %}</a></li>
            <li><a href="{% url 'about:mission' %}">{% trans "Миссия" %}</a></li>
            <li><a href="{% url 'about:vision' %}">{% trans "Видение" %}</a></li>
            <li><a href="{% url 'about:word-of-chairman' %}">{% trans "Слова Основателя" %}</a></li>
            <li><a href="{% url 'about:board-directors' %}">{% trans "Совет Директоров" %}</a></li>
          </ul>
        </div><!-- End footer links column-->

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>{% trans "Полезные ссылки" %}</h4>
          <ul>
            <li><a href="{% url 'about:what-we-do' %}">{% trans "Наши Услуги" %}</a></li>
            <li><a href="{% url 'about:our-structure' %}">{% trans "Наша Структура" %}</a></li>
            <li><a href="{% url 'membership:membership-list' %}">{% trans "Резидентсво" %}</a></li>
            <li><a href="https://www.flickr.com/photos/198811983@N02/">{% trans "Фото галерея" %}</a></li>
            <li><a href="{% url 'about:contact-us' %}">{% trans "Связаться с нами" %}</a></li>
          </ul>
        </div><!-- End footer links column-->

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>{% trans "Новости и события" %}</h4>
          <ul>
            <li><a href="{% url 'news:news' %}">{% trans "Новости" %}</a></li>
            <li><a href="{% url 'events:upcoming_events' %}">{% trans "Предстоящие события" %}</a></li>
            <li><a href="{% url 'events:past_events' %}">{% trans "Прошедшие события" %}</a></li>
          </ul>
        </div><!-- End footer links column-->

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>{% trans "Авторизация" %}</h4>
          <ul>
            <li><a href="{% url 'users:login' %}">{% trans "Вход" %}</a></li>
            <li><a href="{% url 'users:signup' %}">{% trans "Зарегистрироваться" %}</a></li>
          </ul>
        </div><!-- End footer links column-->
      </div>
    </div>
  </div>

  <div class="footer-legal text-center position-relative">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>KSBC</span></strong>. All Rights Reserved
      </div>
    </div>
 </div>